html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background: #000;
  font-weight: 400;
}

.welcome {
  height: 765px;
  width: 100%;
  background-image: url("../resourcer/hello_iam.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.welcome__container {
  margin: 0 auto;
  width: 1155px;
}

.welcome__navigation {
  float: right;
  padding-top: 33px;
}

.welcome__nav_link {
  padding-left: 43px;
  height: 23px;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400px;
  line-height: 22px;

  text-decoration: none;
  letter-spacing: -0.54px;
  color: white;
}

.welcome__nav_link:hover {
  opacity: 0.5;
  color: #1bff07;
  text-decoration: none;
}

.logo {
  position: relative;
  padding-left: 5px;
  padding-bottom: 7px;
  padding-right: 12px;
  display: block;
}

.welcome__box {
  margin-top: 36px;
  position: absolute;
  width: 130px;
  height: 39px;
  background-color: black;
  border-radius: 100px;
}

.welcome__paragraph {
  padding-top: 334px;
  padding-left: 125px;
  line-height: 26px;
  font-size: 20px;
  letter-spacing: -0.6px;
  color: #fff;
}

.welcome__title_job {
  padding-top: 29px;
  padding-left: 119px;
  font-size: 80px;
  line-height: 70px;
  letter-spacing: -2.4px;
  color: #1bff07;
}

.main_container {
  margin: 0 auto;
  width: 100%;
}

.container {
  width: 1155px;
  margin-left: 120px;
  margin: 0 auto;
}

.projects__title {
  margin-top: 157px;
  margin-bottom: 47px;
  color: #fff;
  font-size: 55px;
  letter-spacing: -1.65px;
}
.projects__title-realhome {
  position: absolute;
  left: 50px;
  bottom: 96px;
  color: #fff;
  font-size: 35px;
  letter-spacing: -1.05px;
}

.projects__text-realhome {
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  font-size: 30px;
  letter-spacing: -0.9px;
  bottom: 50px;
}

.project__item {
  position: relative;
  background-image: url("../resourcer/Realhome-desing.png");
  width: 1150px;
  height: 550px;
  flex-shrink: 0;
}
.project__item-GLASS {
  position: relative;
  background-image: url("../resourcer/class.png");
  width: 1150px;
  height: 550px;
  flex-shrink: 0;
}

.project__item-Fesiyen {
  position: relative;
  background-image: url("../resourcer/Fesiyen.png");
  width: 1150px;
  height: 550px;
  flex-shrink: 0;
}
.project__link {
  text-decoration: none;
}

.project__btn {
  display: inline-block;
  padding: 50px 118px;
  border-radius: 10px;
  font-size: 30px;
  letter-spacing: -0.6px;
  color: black;
  background-color: #1bff07;
  cursor: pointer;
  text-decoration: none;
  margin-top: 83px;
  margin-bottom: 131px;
  line-height: 51px;
}

.project__btn:hover {
  color: #1bff07;
  background: #191c19;
  border: 1px solid #1bff07;
}

.competence__maintitle {
  color: #fff;
  font-size: 54px;
  line-height: 111px;
  letter-spacing: -1.05px;
  margin-bottom: 30px;
}

.competence__title {
  color: #1bff07;
  font-size: 35px;
  letter-spacing: -1.65px;
  margin-bottom: 21px;
  line-height: 35px;
}

.competence__item-html::before {
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url("../resourcer/mark_html.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 16px;
}

.competence__item-js::before {
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url("../resourcer/mark_JS.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 20px;
}

.competence__text {
  width: 778px;
  color: #fff;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.66px;

  margin-bottom: 60px;
}

a {
  text-decoration: none;
}

.competence__item-library::before {
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url("../resourcer/mark_library.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 23px;
}

.competence__item-science::before {
  content: "";
  display: block;
  line-height: 15px;
  width: 45px;
  height: 44px;
  background-image: url("../resourcer/mark_scintist.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 16px;
}
.competence__title-science {
  line-height: 46px;
  margin-bottom: 13px;
}

.services__maintitle {
  color: #fff;
  font-size: 35px;
  letter-spacing: -1.05px;
  margin-bottom: 80px;
  margin-top: 155px;
  line-height: 43px;
}

.services__box {
  width: 1150px;
  box-sizing: border-box;
  position: relative;
  border-radius: 30px;
  background: #191c19;
  height: 283px;
  margin-bottom: 68px;
}
.services__box-position {
  margin-top: 1px;
  margin-bottom: 135px;
  margin-left: 1px;
}
.services__box-margin {
  margin-top: 4px;
  margin-bottom: 144px;
}

.services__title {
  position: absolute;
  top: 34px;
  left: 40px;
  color: #1bff07;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -1.65px;
}

.services__text {
  position: absolute;
  top: 123px;
  left: 41px;

  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.66px;
}

.container_contacts {
  background: #191c19;
  border-radius: 30px;
  width: 100%;
  height: 717px;
  margin: 0 auto;
}
.contact__box {
  position: relative;
}
.contacts__title {
  color: #fff;
  position: absolute;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -1.05px;
  left: 376px;
  top: 322px;
}
.contacts__link {
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.contacts__link:hover {
  opacity: 0.5;
  color: #1bff07;
  text-decoration: none;
}
.contacts__link-inst {
  position: absolute;
  left: 375px;
  top: 411px;
}
.contacts__link-telegram {
  position: absolute;
  left: 375px;
  top: 490px;
}
.contacts__link-mail {
  position: absolute;
  left: 375px;
  top: 571px;
}
.contacts__img {
  position: absolute;
  width: 70%;
  height: 717px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
  left: 576px;
}

.container__footer {
  position: relative;
  content: "";
  display: block;
  width: 100%;
  height: 289px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url("../resourcer/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 150px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

.footer__link {
  position: absolute;
  margin-top: 79px;
  padding-left: 375px;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -1.66px;
}

.footer__text {
  position: absolute;
  margin-top: 176px;
  padding-left: 375px;
  color: #000;
  font-size: 20px;
  letter-spacing: -0.6px;
}
